name: ci

run-name: CI

on:
  push:

jobs:

  builds:

    timeout-minutes: 20
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    name: build (${{ matrix.os }})

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version-file: go.mod
          cache: true

      # - name: Set up Buf
      #   uses: bufbuild/buf-action@v1
      #   with:
      #     setup_only: true    

      - name: Build [go${{ matrix.go-version }} - ${{ matrix.os }}]
        run: make all
